.Header {
    overflow: hidden;
    border-right: 1px solid var(--color-background-tertiary);
    box-sizing: border-box;
    padding: var(--spacing-md) 0;
}

.Header-list {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Header-listitem {
    text-decoration: none;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: var(--font-size-lg);
    font-weight: 700;
    color: var(--color-indigo);
}

.Header-listitemcontents {
    border-radius: calc(var(--spacing-md) * 2);
    padding: var(--spacing-md) var(--spacing-lg);
    transition: ease-in 100ms background-color;
}

.Header-listitem:hover .Header-listitemcontents {
    background-color: var(--color-background-indigo);
}
