.Home {
    min-height: 100%;
    margin: 0 auto;
    width: calc(
        var(--header-width) + var(--timeline-width) + var(--sidebar-width)
    );
    display: grid;
    grid-template-columns: var(--header-width) var(--timeline-width) var(
            --sidebar-width
        );
}

.Home-timeline {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.Home-title {
    background-color: var(--color-background);
    font-size: var(--font-size-lg);
    font-weight: 800;
    border-bottom: 1px solid var(--color-background-tertiary);
}

.Home-titlecontents {
    padding: var(--spacing-lg);
}
