.LoginForm {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.LoginForm-button {
    background-color: var(--color-indigo);
    color: var(--color-white);
    border: 0;
    font-size: var(--font-size-md);
    font-weight: 800;
    height: 42px;
    border-radius: 42px;
    padding: var(--spacing-md) var(--spacing-lg);
    cursor: pointer;

    transition: 100ms ease-in background-color;
}

.LoginForm-button:focus {
    background-color: var(--color-indigo-secondary);
    outline: 0;
}

.LoginForm-button:hover {
    background-color: var(--color-indigo-secondary);
}

.LoginForm-button:active {
    background-color: var(--color-indigo-tertiary);
}
