:root {
    --spacing-xs: 2px;
    --spacing-sm: 6px;
    --spacing-md: 12px;
    --spacing-lg: 18px;

    --header-width: 240px;
    --sidebar-width: 350px;
    --timeline-width: 598px;

    --font-size-xs: 1.3rem;
    --font-size-sm: 1.4rem;
    --font-size-md: 1.5rem;
    --font-size-lg: 2rem;

    --color-background: #fff;
    --color-background-secondary: rgba(246, 248, 250, 1);
    --color-background-secondary-active: rgba(239, 242, 244, 1);
    --color-background-tertiary: #e7ecf0;
    --color-background-quarternary: rgba(222, 227, 231, 1);
    --color-white: #fff;

    --color-primary: #1f1f23;
    --color-secondary: #53535f;
    --color-tertiary: #777777;
    --color-shadow: rgba(0, 0, 0, 0.08);
    --color-indigo: #874bf6;
    --color-indigo-secondary: hsl(263, 64%, 53%);
    --color-indigo-tertiary: hsl(263, 58%, 43%);
    --color-background-indigo: rgba(102, 56, 240, 0.1);
    --color-red: #e91916;
}

html {
    font-size: 10px;
    background-color: var(--color-background);
    height: 100%;
    overflow-y: scroll;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
    height: 100%;
}
